proxmox_api_url          = "https://a.b.c.d:8006/api2/json"
proxmox_api_token_id     = "user@pam!name"
proxmox_api_token_secret = "secret"

proxmox_node    = "pve"
ssh_public_keys = [
    ~/.ssh/id_rsa.pub
]
password        = "secret_password"
